.wrapper {
  width: 100%;
  margin: auto;
  background-color: #f8f9fa;
}

.slide {
  opacity: 0;
  position: absolute;
  visibility: hidden;
}

.slideImg {
  display: flex;
  justify-content: center;
  margin: auto;
  min-height: 678px;
  height: calc(100vh - 116px);
  max-width: 1440px;
  width: 100%;
  filter: brightness(50%);
}

@media (max-width: 1000px) {
  .slideImg {
    min-height: auto;
    height: auto;
  }
}

.slideContent {
  font-family: sans-serif;
  color: whitesmoke;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}


.active {
  height: auto;
  opacity: 1;
  position: relative;
  visibility: visible;
}

.disable {
  visibility: visible;
  top: 117px;
  z-index: 1;
  opacity: 0;
  animation: fade_out 1.5s;
}

@keyframes fade_out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}