.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  overflow: scroll;
  z-index: 2;
}

.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  margin: 70px auto;
  padding: 10px;
  background: #fff;
  border-radius: 5px;
  position: relative;
}

.popup h2 {
  margin-top: 0;
  color: #333;
  font-family: Tahoma, Arial, sans-serif;
}

.popup .close {
  position: absolute;
  top: 30px;
  right: 20px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
  line-height: 0;
  border: none;
  background-color: inherit;
}

.popup .close:hover {
  color: #dc3545eb;
}

.popup .content {
  max-height: 30%;
  overflow: auto;
}

.popup_title {
  font-size: 20px;
  font-weight: bold;
  line-height: 2;
  margin: 0.3rem 1rem;
}